.text-editor {
  line-height: inherit;
  font-size: inherit;
  .header {
    font-weight: 450;
    display: flex;
    div {
      margin: 5px 5px 15px 5px;
    }
    .icon {
      color: #5cb8d5;
    }
  }
}

.question > div {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper-quiz {
  margin: 50px 22%;
  .vl-right,
  .vl-left {
    height: 100%;
    width: 10px;
    border-left: 1px solid rgba($color: #abbbc2, $alpha: 0.2);
    top: 0;
  }
  .vl-right {
    right: 23%;
  }

  .vl-left {
    left: 23%;
  }
  .sidebar-left {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 22%;
    left: 4%;

    div {
      margin-bottom: 20%;

      button {
        width: 30vh;
        height: 35px;
      }

      .mat-raised-button {
        right: 0;
      }

      app-clock {
        position: relative;
        left: 26%;
      }
    }

    div:last-child {
      margin-top: 25%;
    }
  }

  padding: 0 10px;
  .sidebar-right {
    .appendix {
      position: fixed;
      top: 15%;
      right: 2%;

      .question-list {
        //background-color:rgba($color: #5cb8d5, $alpha: 0.7);
        // width: 240%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;

        .question {
          height: 30px;
          width: 30px;
          border: 1px solid #1e61a0;
          border-radius: 100%;
          text-align: center;
          margin: 15px;
          p {
            color: #000;
            position: relative;
            top: 5px;
          }

          background-color: #e6e4e466;
          cursor: pointer;
        }
      }
    }
  }

  .mat-raised-button {
    right: -31%;
  }
  #button {
    display: inline-block;
    background-color: rgba($color: #889ea8, $alpha: 0.7);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding: 10px 0px;
  }
  #button::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: rgba($color: #889ea8, $alpha: 1);
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  #button svg {
    color: #fff;
  }


}




.options {
  margin: 5px 55px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0 39px;
}

.result > div {
  margin: 30px 0;
}

::ng-deep .mat-typography p {
  margin: 0 0 0px;
}
::ng-deep .mat-radio-label {
  white-space: normal !important;
}

.title {
  font-weight: bold;
  position: relative;
  left: 230px;
}

@media screen and (min-width: 1660px) {
  .wrapper {
    .appendix {
      top: 15%;
      right: 2.5%;
      bottom: 100px;
      position: fixed;

      .question-list {
        //background-color:rgba($color: #5cb8d5, $alpha: 0.7);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        .question {
          height: 30px;
          width: 30px;
          border: 1px solid #1e61a0;
          border-radius: 100%;
          text-align: center;
          margin: 20px;
        }
      }
    }
  }

  // @media screen and (min-width: 1200px) {
  //   .wrapper {
  //     .appendix {
  //       top: 28%;
  //       right: 4.5%;
  //       position: fixed;

  //       .question-list {
  //         //background-color:rgba($color: #5cb8d5, $alpha: 0.7);
  //         display: grid;
  //         grid-template-columns: auto auto auto auto auto;
  //         .question {
  //           height: 30px;
  //           width: 30px;
  //           border: 1px solid #1e61a0;
  //           border-radius: 100%;
  //           text-align: center;
  //           margin: 20px;
  //       }
  //       }
  //     }
  //   }
  // }
  span {
    font-size: 1rem !important;
  }
  .btn-submit {
    position: fixed;
    top: 500px;
    left: 141px;
  }
}

.skeleton-wrapper {
  .sidebar-left,
  .sidebar-right {
    position: fixed;
    top: 22%;
  }

  .sidebar-left {
    left: 4%;
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;

    .question {
      display: flex;
      flex-direction: row;
    }
  }
  .sidebar-right {
    height: 40vh;
    width: 20vw;
    right: 10px;
  }
}
.progress_bar
{
  width: 1000px;
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: center;
  flex-direction: column;
}