<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2" *ngIf="this.course_list | async as o">Danh sách các khóa học</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="text-left" style="
        font-size: medium;margin-bottom: 15px;">
      <mat-form-field appearance="fill">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput (keyup)="Filter($event)" />
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="this.dataSource">
      <ng-container matColumnDef="Số thứ tự">
        <th mat-header-cell *matHeaderCellDef>Số thứ tự</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="Tên khóa học">
        <th mat-header-cell *matHeaderCellDef>Tên khóa học</th>
        <td mat-cell *matCellDef="let element">{{ element.fullname }}</td>
      </ng-container>

      <ng-container matColumnDef="Thời điểm bắt đầu">
        <th mat-header-cell *matHeaderCellDef>Thời điểm bắt đầu</th>
        <td mat-cell *matCellDef="let element">
          {{ element.startdate * 1000 | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Thời điểm kết thúc">
        <th mat-header-cell *matHeaderCellDef>Thời điểm kết thúc</th>
        <td mat-cell *matCellDef="let element">
          {{ element.enddate * 1000 | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Hoạt động">
        <th mat-header-cell *matHeaderCellDef>Hoạt động</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" (click)='DeThi(element)'>Đề thi</button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>